<template>
  <div class="row">
    <div class="col s6 offset-s3">
      <h1>Create task</h1>
      <form @submit.prevent="submitHander">
        <div class="input-field">
          <input id="input" v-model="title" class="validate" type="text" required>
          <label for="input">Title</label>
          <span class="helper-text" data-error="Title is required"></span>
          <div class="chips" ref="chips"></div>
          <div class="input-field">
            <textarea
              v-model="description"
              class="materialize-textarea"
              id="description"
            ></textarea>
            <label for="description">Description</label>
            <span
              class="character-counter"
              style="float: right; font-size: 12px;"
            >{{description.length}}/2048</span>
          </div>
          <input type="text" ref="datepicker">
          <button class="btn" type="submit">Create task</button>
        </div>
      </form>
    </div>

  </div>
</template>

<script>

export default {
  name: 'Create',
  data: () => ({
    description: '',
    title: '',
    chips: null,
    date: null,
  }),
  mounted() {
    // eslint-disable-next-line no-undef
    this.chips = M.Chips.init(this.$refs.chips, {
      placeholder: 'Task tags',
    });
    // eslint-disable-next-line no-undef
    this.date = M.Datepicker.init(this.$refs.datepicker, {
      format: 'dd.mm.yyyy',
      defaultDate: new Date(),
      setDefaultDate: true,
    });
  },
  methods: {
    submitHander() {
      const newTask = {
        title: this.title,
        description: this.description,
        id: Date.now(),
        status: 'active',
        tags: this.chips.chipsData,
        date: this.date.date,
      };

      this.$store.dispatch('createTask', newTask);
      this.$router.push({ path: '/list' });
    },
  },
  destroyed() {
    if (this.date && this.date.destroy) {
      this.date.destroy();
    }

    if (this.chips && this.chips.destroy) {
      this.chips.destroy();
    }
  },
};
</script>
