<template>
  <div>
    <h1>List</h1>
    <div class="row">
      <div class="input-field col s6">
        <select ref="select" v-model="filter">
          <option value="" disabled selected>Choose your option</option>
          <option value="active">Active</option>
          <option value="outdated">Outdated</option>
          <option value="completed">Completed</option>
        </select>
        <label>Status filter</label>
      </div>
      <div class="input-field col">
        <button v-if="filter" class="btn btn-small red" @click="filter = null">Clear filter</button>
      </div>
    </div>
    <hr>
    <table v-if="tasks.length">
      <thead>
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Date</th>
        <th>Description</th>
        <th>Status</th>
        <th>Open</th>
      </tr>
      </thead>
      <tbody>
        <tr v-for="(task,id) of displayTasks" :key="task.id">
          <td>{{ id + 1}}</td>
          <td>{{ task.title}}</td>
          <td>{{ new Date(task.date).toLocaleDateString() }}</td>
          <td class="maxtd"><div class="text">{{ task.description}}</div></td>
          <td>{{ task.status}}</td>
          <td>
            <router-link tag="button" class="btn btn-small" :to="'/task/' + task.id">
              Open
            </router-link>
          </td>
        </tr>
      </tbody>

    </table>
    <p v-else="">No tasks</p>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'List',
  mounted() {
    // eslint-disable-next-line no-undef
    M.FormSelect.init(this.$refs.select, {});
  },
  data: () => ({
    filter: null,
  }),
  computed: {
    ...mapGetters([
      'tasks',
    ]),
    displayTasks() {
      return this.tasks.filter((t) => {
        if (!this.filter) {
          return true;
        }
        return t.status === this.filter;
      });
    },
  },
};
</script>
List
<style scoped>
.text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.maxtd {
  max-width: 300px;
}
</style>
