<template>
  <div class="row">
    <div v-if="task" class="col s6 offset-s3">
      <h1>Task: {{task.title}}</h1>
      <form @submit.prevent="submitHander">
        <div class="input-field">
          <span class="helper-text" data-error="Title is required"></span>
          <div class="chips" ref="chips"></div>
          <div class="input-field">
            <textarea
              v-model="description"
              class="materialize-textarea"
              id="description"
            ></textarea>
            <label for="description">Description</label>
            <span
              class="character-counter"
              style="float: right; font-size: 12px;"
            >{{description.length}}/2048</span>
          </div>
          <input type="text" ref="datepicker">
          <div v-if="task.status !== 'completed'">
            <button class="btn" type="submit" style="margin-right: 1rem;">Update task</button>
            <button class="btn blue" type="button" @click="completeTask">Complete task</button>
          </div>
        </div>
      </form>
    </div>
    <p v-else>
      Task not found
    </p>
  </div>
</template>

<script>

export default {
  name: 'Task',
  data: () => ({
    description: '',
    chips: null,
    date: null,
  }),
  mounted() {
    this.description = this.task.description;
    // eslint-disable-next-line no-undef
    this.chips = M.Chips.init(this.$refs.chips, {
      placeholder: 'Task tags',
      data: this.task.tags,
    });
    // eslint-disable-next-line no-undef
    this.date = M.Datepicker.init(this.$refs.datepicker, {
      format: 'dd.mm.yyyy',
      defaultDate: new Date(this.task.date),
      setDefaultDate: true,
    });
    setTimeout(() => {
      // eslint-disable-next-line no-undef
      M.updateTextFields();
    }, 0);
  },
  computed: {
    task() {
      return this.$store.getters.taskById(+this.$route.params.id);
    },
  },
  methods: {
    completeTask() {
      this.$store.dispatch('completeTask', this.task.id);
      this.$router.push({ path: '/list' });
    },
    submitHander() {
      this.$store.dispatch('updateTask', {
        id: this.task.id,
        description: this.description,
        date: this.date.date,
      });
      this.$router.push({ path: '/list' });
    },
  },
  destroyed() {
    if (this.date && this.date.destroy) {
      this.date.destroy();
    }

    if (this.chips && this.chips.destroy) {
      this.chips.destroy();
    }
  },
};
</script>
