<template>
  <div id="app">
    <Nav/>
    <div class="container">
      <router-view/>
    </div>
  </div>
</template>

<script>
import Nav from '@/components/Nav.vue';

export default {
  name: 'app',
  components: { Nav },
};
</script>
<style >
@import "~materialize-css/dist/css/materialize.min.css";
</style>
